@import "tailwindcss";

@theme {
  --color-layout-grey: #222222;
  --color-layout-dark-yellow: #161513;
  --color-layout-dark-red: #191919;
  --color-secondary-description: #c5c5c5;
  --color-card-desc: #2a2a2a;
}
